fastapi
uvicorn[standard]
opencv-python
pillow
numpy
matplotlib
ultralytics
pydantic
python-multipart
pandas
python-dotenv
requests
passlib[bcrypt]
python-jose[cryptography]
sqlalchemy
pytest
scikit-learn
