fastapi
uvicorn[standard]
opencv-python
pillow
numpy
matplotlib
ultralytics
pydantic
python-multipart
pandas
sqlalchemy
reportlab
python-dotenv
requests
passlib[bcrypt]
python-jose[cryptography]
sqlalchemy
pytest
scikit-learn
openai>=1.0.0
websockets
